<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slot-Car</title>
    //Scripts javascript pout faire un chart et se connecter a un WebSocket
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <h1>Tension/Temps: </h1>
    <canvas id="Tension/Temps" width="800" height="400"></canvas>

    <script>
        //Definition du plot
        const ctx = document.getElementById('realtimeChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [], 
                datasets: [{
                    label: 'Tension/Temps',
                    data: [],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Temps'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Tension'
                        }
                    }
                }
            }
        });
        // Se connecte au socket qui a servi la page web
        const socket = io();

        //Attendre la reception d'un evenement 'update_plot'
        socket.on('update_plot', (message) => {
            console.log("Received data update:", message);  // Debug
            const data = message.data;
            chart.data.labels = data.map((_, index) => index); 
            chart.data.datasets[0].data = data;
            chart.update();
        });
    </script>
</body>
</html>

